<ion-view title={{title}}>
  <ion-nav-bar class="bar-positive" >
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-arrow-left-c" back></button>
  </ion-nav-buttons>
   <ion-nav-buttons side="right">
    <button ng-click="showEditMode()" class="button button-icon icon ion-compose" style="color:{{color}}"></button>
  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
	 <div dynamic="editor" ng-show="show"></div>
	 <div id="top" dynamic="wysiwyg" ng-show="show"></div>
     <div style="padding:0;line-height:20px" ng-repeat="item in items track by $index" load-dispatcher> 
		  <div dynamic="wrapper"></div>
     </div>
	<div class="item"><button style="float:right" class="button button-small button-positive" ng-click="scrollTop()">&nbsp;&nbsp;{{menu[6]}}&nbsp;&nbsp;</button></div>
	 <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="10%">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>
