<ion-view title={{menu[0]}}>
  <ion-nav-bar class="bar-positive" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-ios7-more"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div dynamic="buyFeatDisplay"></div>
  </ion-nav-buttons>
  </ion-nav-bar>
  	<div class="bar bar-subheader">
	 <button class="button icon-left icon-small ion-ios7-help button-clear" ng-click="showInfo()">{{menu[1]}}</button>
	 <button class="button icon-left ion-compose button-positive" ng-click="add()">{{menu[2]}}</button>
	</div>
  <ion-content class="has-subheader">
	 <div dynamic="wysiwyg" ng-show="show"></div>
     <span style="padding:0;line-height:20px" ng-repeat="item in items" ng-click="headerNote(item.index)"> 
		  <a href="#/app/qnote/{{item.index}}" style="padding:3px 10px 3px 10px;cursor:pointer" class="item item-text-wrap" dynamic="headerList"></a>
     </span>
	 <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="10%">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>
