<ion-view title={{menu[0]}}>
  <ion-nav-bar class="bar-positive" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-ios7-more"></button>
  </ion-nav-buttons>
   <ion-nav-buttons side="right">
    <button ng-click="global()" class="button button-icon icon ion-loop"></button>
  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
	 <span style="padding:0;line-height:20px" ng-repeat="item in items"> 
	  <div style="padding:3px 10px 3px 10px;" class="item item-text-wrap" dynamic="verse"></div>
	</span>
	 <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="10%">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>
